{% load template_getattr %}
{# requires: goals, user #}

<form action="{% url 'musictherapy:save_goals' user.id %}" method="post">
    {% csrf_token %}
    {% for domain in goals.order %}
    <div class="col-md-12" style="margin-bottom: 10px; padding-bottom: 10px">
        <div class="col-md-12">
            <h3>{{domain}} Goals</h3>
        </div>
        {% for goal in goals|getattrib:domain %}
        <div class="col-md-12">
            <input type="checkbox" name="goals" value={{goal.pk}} id="goal_{{goal.pk}}" {% if goal.pk in goals.user %} checked {% endif %}/>
            <label for="goal_{{goal.pk}}"><h5>{{goal.name}}</h5></label>
        </div>
        {% endfor %}
        <div class="col-md-12">
            <input name="{{domain}}_custom" type="text" style="width: 100%" placeholder="Custom {{domain}} goal" id="{{domain}}_goal_custom"/>
        </div>
    </div>
    {% endfor %}
    <input type="hidden" name="redirect" value="{{redirect}}"/>
    <input type="submit" name="submit" class="btn btn-primary" value="Save Goals" />
</form>
