{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" src="{% static 'musictherapy/toastr.min.js' %}"></script>
<script type="text/javascript" src="https://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
<script type="text/javascript" src="{% static 'musictherapy/musictherapy.js' %}"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.standalone.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.css.map"/>

<link rel="stylesheet" href="{% static 'musictherapy/toastr.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'musictherapy/musictherapy.css' %}" type="text/css"/>

{% if skip_tablesort == true %}
<script type="text/javascript" src="{% static 'musictherapy/tablesort.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'musictherapy/tablesort.css' %}" type="text/css"/>
<script type="text/javascript" src="{% static 'musictherapy/tablesort.date.js' %}"></script>
{% endif %}

