<div class="col-md-12">
    <form action="{% url 'musictherapy:save_goalmeasurables' user.id %}" method="post" id="goals-measurables-form-{{user.id}}">
        {% csrf_token %}
        {% for domain, goals_measurables in session_goals.items %}
            {% if goals_measurables %}
                <h3>{{domain}} Goals</h3>
                {% for measurable in goals_measurables %}
                    <div class="col-md-12" style="padding: 2px">
                        <div class="col-md-6">
                            <label class="control-label" style="padding: 5px">{{measurable.goal.name}} - {{measurable.name}}</label>
                        </div>
                        <div class="col-md-6">
                            <select class="select form-control" name="{{measurable.pk}}">
                                <option value=-1>Not Measured</option>
                                <option value=0>None/Never</option>
                                <option value=1>Low/Rarely/Poor</option>
                                <option value=2>Medium/Sometimes/Good</option>
                                <option value=3>High/Always/Very Good</option>
                            </select>
                        </div>
                    </div>
                {% endfor %}
                <div class="controls col-lg-6">
                    <label class="control-label" style="padding-top: 5px">Notes</label>
                </div>
                <div class="controls col-lg-6">
                    <textarea class="textarea form-control" cols="40" name="{{domain|slice:":3"}}_goalsnotes" rows="3" spellcheck="true"></textarea>
                </div>
            {% endif %}
        {% endfor %}

        <input type="hidden" name="session" value="{{session.id}}"/>
        <input type="submit" name="submit" value="Save Measurables"/>
    </form>
</div>

<script>
$("#goals-measurables-form-{{user.id}}").submit(function(e) {
    e.preventDefault();
    var $form = $(this);
    var url = $form.attr('action');

    $.ajax({
        type: "POST",
        url: url,
        dataType: 'json',
        data: $form.serialize(),
        success: function(data) {
            if (data == 200) {
                console.log("success for {{user.id}}");
                toastr.success("Saved goals measurables for {{user.name}}", "Saved Goals Measurables");
            } else {
                console.log("fail: " + data);
                toastr.error("There was a problem saving goals measurables.");
            }
        }
    });
});
</script>
