{% load template_getattr %}

<div class="col-md-12">
    <form action="{% url 'musictherapy:save_goalmeasurables' user.id session.id%}" method="post" id="goals-measurables-form-{{user.id}}">
        {% csrf_token %}
        {% for domain, domain_data in data.items %}
            {% if domain_data.has_goals == True %}
            <h3>{{domain_data.domain}} Goals</h3>
            {% endif %}
            {% include 'musictherapy/component/session_goal_observable.html' with data=domain_data redirect=redirect pre=domain_data.prefix %}
        {% endfor %}

        <input type="submit" name="submit" class="btn btn-primary" value="Save Measurables"/>
    </form>
</div>

<script>
$("#goals-measurables-form-{{user.id}}").submit(function(e) {
    e.preventDefault();
    var $form = $(this);
    var url = $form.attr('action');

    $.ajax({
        type: "POST",
        url: url,
        dataType: 'json',
        data: $form.serialize(),
        success: function(data) {
            if (data == 200) {
                console.log("success for {{user.id}}");
                toastr.success("Saved goals measurables for {{user.name}}", "Saved Goals Measurables");
            } else {
                console.log("fail: " + data);
                toastr.error("There was a problem saving goals measurables.");
            }
        }
    });
});
</script>
