{% load crispy_forms_tags %}
{% load template_getattr %}

{% if data.past_measurables %}
    {% include 'musictherapy/component/past_measurable_list.html' with past_measurables=data.past_measurables pre=pre %}
{% endif %}

{% if data.measurables %}
    {% include 'musictherapy/component/measurable.html' with measurables=data.measurables pre=pre user=user%}
{% endif %}

{% if data.has_goals and data.goals_measurables%}
<div class="panel-group" id="accordion-{{pre}}goals">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{pre}}goals" href="#{{pre}}-goals" aria-expanded="true">Submit {{type}} Goals Measurables</a>
            </h4>
        </div>
        <div id="{{pre}}-goals" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
                <form action="{% url 'musictherapy:save_goalmeasurables' user.id session.id%}" method="post">
                    {% csrf_token %}
                    {% include 'musictherapy/component/session_goal_observable.html' with data=data redirect=pre pre=pre show_save=True%}
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% if data.chart %}
{% include "musictherapy/chart.html" with chart=data.chart goals=data.goal_notes%}
{% endif %}
