<!DOCTYPE html>

<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <style type="text/css">
            .forms-wrapper{
                margin: 20px;
            }

            .page-wrapper {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function() {
                var url = document.location.toString();
                if (url.match('#')) {
                    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show');
                }

                $('.nav-tabs a').on('shown.bs.tab', function (e) {
                    window.location.hash = e.target.hash;
                });

                $('a[data-toggle="tab"]').on('shown', function (e) {
                    $('.dropdown-menu li.active').removeClass('active');
                    $(this).parent('li').addClass('active');
                });

            });
        </script>

        <!-- PyGal scripts -->
        <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
    </head>

    <body>
        <div class="page-wrapper">
            {% load crispy_forms_tags %}

            <ul class ="nav nav-tabs" id="tabs">
                <li class="active"><a data-toggle="tab" href="#basicinfo">Basic Information</a></li>
                <li><a data-toggle="tab" href="#summary">Summary</a></li>
                {% if goals_form %}
                <li><a data-toggle="tab" href="#goals">Goals</a></li>
                {% endif %}
                {% if musical_pref_form %}
                <li><a data-toggle="tab" href="#musicpref">Musical Preference</a></li>
                {% endif %}
                <li><a data-toggle="tab" href="#communicationskills">Communication Skills</a></li>
                <li><a data-toggle="tab" href="#psychosocialskills">Psycho-Social Skills</a></li>
                <li><a data-toggle="tab" href="#motorskills">Motor Skills</a></li>
                <li><a data-toggle="tab" href="#cognitiveskills">Cognitive and Memory Skills</a></li>
                <li><a data-toggle="tab" href="#socialskills">Social Skills</a></li>
                <li><a data-toggle="tab" href="#musicskills">Music Skills</a></li>
                <li><a class="btn" href="/musictherapy/logout">Logout</a></li>
            </ul>

            <div class="tab-content forms-wrapper">
                <div id="goals" class="tab-pane fade">
                    <form action="submit_goals/#goals" method="post">
                        {% csrf_token %}
                        {{ goals_form }}
                        <input type="submit" name="submit" value="Save" />
                    </form>
                </div>

                <div id ="musicpref" class="tab-pane fade">
                    {% if musical_pref_form %}
                        {% crispy musical_pref_form %}

                        {% if musicpref_last_updated %}
                        <p>Last updated {{ musicpref_last_updated }}</p>
                        {% endif %}
                    {% endif %}
                </div>

                <div id="basicinfo" class="tab-pane fade in active">
                    {% crispy user_info_form %}

                    {% if user_last_update %}
                    <p>Last updated {{ user_last_updated }} </p>
                    {% endif %}
                </div>

                <div id="summary" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6">
                            {% if summary.motor %}
                                {% include "musictherapy/summary_data.html" with summary=summary.motor type="Motor" pre="motor"%}
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            {% if summary.cog %}
                                {% include "musictherapy/summary_data.html" with summary=summary.cog type="Cognitive and Memory" pre="cog"%}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {%if summary.pss %}
                                {% include "musictherapy/summary_data.html" with summary=summary.pss type="Psycho-Social" pre="pss"%}
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if summary.com %}
                                {% include "musictherapy/summary_data.html" with summary=summary.com type="Communication" pre="com"%}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {% if summary.social %}
                                {% include "musictherapy/summary_data.html" with summary=summary.social type="Social" pre="social"%}
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            {% if summary.music %}
                                {% include "musictherapy/summary_data.html" with summary=summary.music type="Music" pre="music"%}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="communicationskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Communication" pre="com" data=com_data %}
                </div>

                <div id="psychosocialskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Psycho-Social" pre="pss" data=pss_data %}
                </div>

                <div id="motorskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Motor" pre="motor" data=motor_data %}
                </div>

                <div id="cognitiveskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Cognitive and Memory" pre="cog" data=cog_data %}
                </div>

                <div id="socialskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Social" pre="social" data=social_data %}
                </div>

                <div id="musicskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Music" pre="music" data=music_data %}
                </div>
            </div>
        </div>
    </body>

</html>