<!DOCTYPE html>

<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <style type="text/css">
            .forms-wrapper{
                margin: 20px;
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function() {
                var url = document.location.toString();
                if (url.match('#')) {
                    console.log(url.split('#')[1]);
                    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show');

                }

                $('.nav-tabs a').on('shown.bs.tab', function (e) {
                    window.location.hash = e.target.hash;
                })

            });
        </script>

        <!-- PyGal scripts -->
        <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
    </head>

    <body>
        <div class="forms-wrapper">
            {% load crispy_forms_tags %}

            <ul class ="nav nav-tabs" id="tabs">
                <li class="active"><a data-toggle="tab" href="#basicinfo">Basic Information</a></li>
                <li><a data-toggle="tab" href="#summary">Summary</a></li>
                {% if goals_form %}
                <li><a data-toggle="tab" href="#goals">Goals</a></li>
                {% endif %}
                {% if musical_pref_form %}
                <li><a data-toggle="tab" href="#musicpref">Musical Preference</a></li>
                {% endif %}
                <li><a data-toggle="tab" href="#communicationskills">Communication Skills</a></li>
                <li><a data-toggle="tab" href="#psychosocialskills">Psycho-Social Skills</a></li>
                <li><a data-toggle="tab" href="#motorskills">Motor Skills</a></li>
                <li><a data-toggle="tab" href="#cognitiveskills">Cognitive and Memory Skills</a></li>
                <li><a data-toggle="tab" href="#socialskills">Social Skills</a></li>
                <li><a data-toggle="tab" href="#musicskills">Music Skills</a></li>
            </ul>

            <div class="tab-content">
                <div id="goals" class="tab-pane fade">
                    {% crispy goals_form %}
                </div>

                <div id ="musicpref" class="tab-pane fade">
                    {% if musical_pref_form %}
                        {% crispy musical_pref_form %}

                        {% if musicpref_last_updated %}
                        <p>Last updated {{ musicpref_last_updated }}</p>
                        {% endif %}
                    {% endif %}
                </div>

                <div id="basicinfo" class="tab-pane fade in active">
                    {% crispy user_info_form %}

                    {% if user_last_update %}
                    <p>Last updated {{ user_last_updated }} </p>
                    {% endif %}
                </div>

                <div id="summary" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6">
                            {% if user_motor_skills %}
                            <h3>Motor Skills</h3>
                            <div class="row">
                                <div class="col-md-4">Mobility</div>
                                <div class="col-md-4">{{user_motor_skills.mobility|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Fine Motor</div>
                                <div class="col-md-4">{{user_motor_skills.fine_motor|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Gross Motor</div>
                                <div class="col-md-4">{{user_motor_skills.gross_motor|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Coordination</div>
                                <div class="col-md-4">{{user_motor_skills.coordination|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Limitations</div>
                                <div class="col-md-4">{{user_motor_skills.limitations|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <b><div class="col-md-4">Total</div>
                                    <div class="col-md-4">{{user_motor_skills.total|floatformat:2}}</div></b>
                            </div>
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            {% if user_cog_skills %}
                            <h3>Cognitive and Memory Skills</h3>
                            <div class="row">
                                <div class="col-md-4">Cognition</div>
                                <div class="col-md-4">{{user_cog_skills.cognition|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Memory</div>
                                <div class="col-md-4">{{user_cog_skills.memory|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <b><div class="col-md-4">Total</div>
                                    <div class="col-md-4">{{user_cog_skills.total|floatformat:2}}</div></b>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {%if user_pss_skills %}
                            <h3>Psycho-Social Skills</h3>
                            <div class="row">
                                <div class="col-md-4">Mood/Affect</div>
                                <div class="col-md-4">{{user_pss_skills.mood_affect|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <b><div class="col-md-4">Total</div>
                                    <div class="col-md-4">{{user_pss_skills.total|floatformat:2}}</div></b>
                            </div>
                            {% endif %}
                        </div>


                        <div class="col-md-6">
                            {% if user_com_skills %}
                            <h3>Communication Skills</h3>
                            <div class="row">
                                <div class="col-md-4">Verbal Skills</div>
                                <div class="col-md-4">{{user_com_skills.verbal_skills|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Receptive Language</div>
                                <div class="col-md-4">{{user_com_skills.receptive_language|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Singing/Vocal Skills</div>
                                <div class="col-md-4">{{user_com_skills.singing_vocal_skills|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Vocalization</div>
                                <div class="col-md-4">{{user_com_skills.vocalization|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Interactive Speech</div>
                                <div class="col-md-4">{{user_com_skills.interactive_speech|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Choice Making</div>
                                <div class="col-md-4">{{user_com_skills.choice_making|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <b><div class="col-md-4">Total</div>
                                <div class="col-md-4">{{user_com_skills.total|floatformat:2}}</div></b>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {% if user_social_skills %}
                            <h3>Social Skills</h3>
                            <div class="row">
                                <div class="col-md-4">Interactions</div>
                                <div class="col-md-4">{{user_social_skills.interactions|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Attending Skills</div>
                                <div class="col-md-4">{{user_social_skills.attending_skills|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Sharing and Turn-Taking</div>
                                <div class="col-md-4">{{user_social_skills.sharing_turn_taking|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Participation in Group Music Therapy</div>
                                <div class="col-md-4">{{user_social_skills.participation_group_music|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <b><div class="col-md-4">Total</div>
                                    <div class="col-md-4">{{user_social_skills.total|floatformat:2}}</div></b>
                            </div>
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            {% if user_music_skills %}
                            <h3>Music Skills</h3>
                            <div class="row">
                                <div class="col-md-4">Rhythm/Beat</div>
                                <div class="col-md-4">{{user_music_skills.rhythm_beat|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Melody/Tonal</div>
                                <div class="col-md-4">{{user_music_skills.melody_tonal|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Instrument Exploration</div>
                                <div class="col-md-4">{{user_music_skills.instrument_exploration|floatformat:2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Interest/Preference</div>
                                <div class="col-md-4">{{user_music_skills.interest_preference|floatformat:2}}</div>
                            </div>
                            <b><div class="row">
                                <div class="col-md-4">Total</div>
                                <div class="col-md-4">{{user_music_skills.total|floatformat:2}}</div>
                            </div></b>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="communicationskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Communication" pre="com" data=com_data %}
                </div>

                <div id="psychosocialskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Psycho-Social" pre="pss" data=pss_data %}
                </div>

                <div id="motorskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Motor" pre="motor" data=motor_data %}
                </div>

                <div id="cognitiveskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Cognitive and Memory" pre="cog" data=cog_data %}
                </div>

                <div id="socialskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Social" pre="social" data=social_data %}
                </div>

                <div id="musicskills" class="tab-pane fade">
                    {% include "musictherapy/skill.html" with type="Music" pre="music" data=music_data %}
                </div>
            </div>
        </div>
    </body>

</html>