<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html>
    <head>
        {% include "musictherapy/component/header.html" %}
    </head>

    <body style="background: white">
        <div class="col-md-4 col-md-offset-4 text-centered page-wrapper">
            <img src="{% static 'musictherapy/logo.jpg' %}" style="max-width: 100%"/>
            {% block content %}

            <h2>Please login to continue.</h2>

            <form method="post" action="/musictherapy/login/">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field form.username class+="form-control" placeholder="Username" %}
                </div>
                <div class="form-group">
                    {% render_field form.password class+="form-control" placeholder="Password" %}
                </div>

                <button type="submit" value="Login" class="btn btn-default ">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {% if form.errors %}
            <h2 style="color: red">Your username and password didn't match.  Please try again.</h2>
            {% endif %}
            {# Assumes you setup the password_reset view in your URLconf #}
            <!--<p><a href="">Lost password?</a></p>-->


            <img src="{% static 'musictherapy/icon.jpg' %}" style="max-width: 100%; padding-top: 40px"/>
            {% endblock %}
        </div>
    </body>



</html>

