<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'musictherapy/themes/blue/style.css' %}" media="print, projection, screen"/>
    <script type="text/javascript" src="{% static 'musictherapy/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'musictherapy/jquery.tablesorter.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>
{% if user_info_list %}
<table id="userTable" class="tablesorter">
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        {% if perms.musictherapy.delete_userinfo %}
        <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for user in user_info_list %}
    <tr>
        <td><a href="{% url 'musictherapy:user_detail' user.id %}"> {{user.name}}</a></td>
        <td>{{user.location}}</td>
        {% if perms.musictherapy.delete_userinfo %}
        <td><a href="{% url 'musictherapy:delete_user' user.id %}">Delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p> No users available. </p>
{% endif %}

<a class="btn btn-info pull-left" href="{% url 'musictherapy:create_user' %}" style="margin:5px">Add Patient</a>

<a class="btn btn-info pull-left" href="{% url 'musictherapy:logout' %}" style="margin:5px">Logout</a>

<a class="btn btn-info pull-left" href="{% url 'musictherapy:password_change' %}" style="margin:5px">Change Password</a>

{% if perms.auth.add_user %}
<a class="btn btn-info pull-left" href="{% url 'musictherapy:create_staff' %}" style="margin:5px">Add Staff Member</a>
{% endif %}

{% if status %}
<br>
<br>
<br>
<p>{{ status }}</p>
{% endif %}

<script type="text/javascript">
			$(document).ready(function()
			{
				$("#userTable").tablesorter();
			});

</script>

</body>

</html>
