<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    {% include "musictherapy/component/header.html" %}
    <title>ASPMTDOC Home</title>
</head>

<body>
<div class="page">
<div class="inner">
    <h1>ASPMTDOC Music Therapy App</h1>

    <h2>Current Active Patients</h2>

    {% if user_info_list %}
        {% include "musictherapy/user_list.html" with user_list=user_info_list redirect="patients" %}
    {% else %}
        <p> No users available. </p>
    {% endif %}


<a class="btn btn-info pull-left" href="{% url 'musictherapy:create_user' %}" style="margin:5px">Add Patient</a>

<a class="btn btn-info pull-left" href="{% url 'musictherapy:all_users' %}" style="margin:5px">View all Patients</a>

<a class="btn btn-info pull-left" href="{% url 'musictherapy:logout' %}" style="margin:5px">Logout</a>

<a class="btn btn-info pull-left" href="{% url 'musictherapy:password_change' %}" style="margin:5px">Change Password</a>

{% if perms.auth.add_user %}
<a class="btn btn-info pull-left" href="{% url 'musictherapy:create_staff' %}" style="margin:5px">Add Staff Member</a>
{% endif %}

{% if status %}
<br>
<br>
<br>
<p>{{ status }}</p>
{% endif %}
</div>
</div>



</body>

</html>
