<!DOCTYPE html>
{% load staticfiles %}
{% load template_getattr %}
<html>

<head>
    {% include "musictherapy/component/header.html" %}
</head>
<body>
    <div class="page">
        <div class="inner">
            <div>
                <div class="col-md-10">
                    <h1>Program: {{ program.name }}</h1>
                </div>
                <div class="cold-md-2">
                    <a class="btn btn-info pull-left" href="{% url 'musictherapy:list' %}" style="margin:5px">Home</a>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <h3>{{ program.location }}</h3>
                    </div>
                    <div class="col-md-4">
                        <h3>{{ program.get_date_display }}</h3>
                    </div>
                    <div class="col-md-4">
                        <h3>{{ program.get_day_of_week_display }}</h3>
                    </div>
                </div>
            </div>
            <div>
                {% include "musictherapy/user_list.html" with user_list=users redirect="program"%}
            </div>
            <div>
            {% for user in users %}
                <div class="panel-group" id="accordion-gm-{{user.id}}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-gm-{{user.id}}" href="#gm-{{user.id}}" aria-expanded="true">{{user.name}}</a>
                            </h4>
                        </div>
                        <div id="gm-{{user.id}}" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include "musictherapy/component/session_goals.html" with data=data|getattrib:user.id user=user session=None include_date=True date=date %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
