{% load crispy_forms_tags %}
{% load template_getattr %}

{% if data.past_measurables %}
<div class="panel-group" id="accordion-{{pre}}past_assessments">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{pre}}assessment" href="#{{pre}}-pastassessment" aria-expanded="true">Past {{type}} Assessments</a>
            </h4>
        </div>
        <div id="{{pre}}-pastassessment" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        {% for field in data.past_measurables.fields %}
                        <th>{{ field }}</th>
                        {% endfor %}
                    </tr>

                    {% for measurable in data.past_measurables.data %}
                    <tr>
                        {% for field in data.past_measurables.fields %}
                            {% if field = 'Note' %}
                            <td><button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#{{pre}}-assessment-{{measurable.id}}">Notes</button></td>
                                    {% include "musictherapy/notes.html" with id=measurable.id date=measurable.Updated notes=measurable.Note data_type="assessment"%}
                            {% elif field = 'Updated' or measurable|getattrib:field == '--' %}
                                <td>{{ measurable|getattrib:field }}</td>
                            {% else %}
                                <td>{{ measurable|getattrib:field|floatformat:2 }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if data.measurables %}
<div class="panel-group" id="accordion-{{pre}}assessment">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{pre}}assessment" href="#{{pre}}-assessment" aria-expanded="true">Submit {{type}} Skills Assessment</a>
            </h4>
        </div>
        <div id="{{pre}}-assessment" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
                <form action="{% url 'musictherapy:save_measurables' user.id %}" method="post">
                    {% csrf_token %}
                    {% for domain, measurables in data.measurables.items %}
                        <div class="col-md-12">
                            <h3>{{domain}}</h3>
                        </div>
                        {% for measurable in measurables %}
                        <div class="col-md-12" style="padding: 2px">
                            <div class="col-md-6">
                                <label class="control-label" style="padding-top: 5px">{{measurable.name}}</label>
                            </div>
                            <div class="col-md-6">
                                <select class="select form-control" name="{{measurable.pk}}">
                                    <option value=-1>Not Measured</option>
                                    <option value=0>None/Never</option>
                                    <option value=1>Low/Rarely/Poor</option>
                                    <option value=2>Medium/Sometimes/Good</option>
                                    <option value=3>High/Always/Very Good</option>
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="controls col-lg-6">
                        <label class="control-label" style="padding-top: 5px">Notes</label>
                    </div>
                    <div class="controls col-lg-6">
                        <textarea class="textarea form-control" cols="40" name="{{pre}}_measurablesnotes" rows="10" spellcheck="true" style="z-index: auto; position: relative; line-height: 20px; font-size: 14px; transition: none; background: transparent !important;"></textarea>
                    </div>
                    <input type="hidden" name="redirect" value="#{{pre}}skills"/>
                    <input type="submit" name="submit" value="Save" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if data.has_goals and data.goals_measurables%}
<div class="panel-group" id="accordion-{{pre}}goals">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{pre}}goals" href="#{{pre}}-goals" aria-expanded="true">Submit {{type}} Goals Measurables</a>
            </h4>
        </div>
        <div id="{{pre}}-goals" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
                <form action="{% url 'musictherapy:save_goalmeasurables' user.id %}" method="post">
                    {% csrf_token %}
                    {% for measurable in data.goals_measurables %}
                        <div class="col-md-12" style="padding: 2px">
                            <div class="col-md-6">
                                <label class="control-label" style="padding: 5px">{{measurable.goal.name}} - {{measurable.name}}</label>
                            </div>
                            <div class="col-md-6">
                                <select class="select form-control" name="{{measurable.pk}}">
                                    <option value=-1>Not Measured</option>
                                    <option value=0>None/Never</option>
                                    <option value=1>Low/Rarely/Poor</option>
                                    <option value=2>Medium/Sometimes/Good</option>
                                    <option value=3>High/Always/Very Good</option>
                                </select>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="controls col-lg-6">
                        <label class="control-label" style="padding-top: 5px">Notes</label>
                    </div>
                    <div class="controls col-lg-6">
                        <textarea class="textarea form-control" cols="40" name="{{pre}}_goalsnotes" rows="10" spellcheck="true" style="z-index: auto; position: relative; line-height: 20px; font-size: 14px; transition: none; background: transparent !important;"></textarea>
                    </div>
                    <input type="submit" name="submit" value="Save"/>
                    <input type="hidden" name="redirect" value="#{{pre}}skills"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% if data.chart %}
{% include "musictherapy/chart.html" with chart=data.chart goals=data.goal_notes%}
{% endif %}
