{% load template_getattr %}

<div class="row">
    <div class="col-md-4"><h3>{{type}} Skills</h3></div>
    <div class="dropdown col-md-4" style="padding-top:10px">
        <ul class="nav nav-pills" aria-labelledby="{{pre}}DropDown">
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown">Dates<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for assessment in summary %}
                    <li><a href="#{{pre}}-summary-{{assessment.id}}" data-toggle="tab">{{assessment.updated}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    {% for assessment in summary %}
        {% if forloop.first %}
        <div id="{{pre}}-summary-{{assessment.id}}" class="tab-pane fade in active">
        {% else %}
        <div id="{{pre}}-summary-{{assessment.id}}" class="tab-pane fade">
        {% endif %}
            <h5>{{assessment.updated}}</h5>
            {% for field in assessment.assessment_fields %}
                {% if field.name == 'total' %}
                    <div class="row">
                        <b><div class="col-md-4">Total</div>
                            <div class="col-md-4">{{assessment.total|floatformat:2}}</div></b>
                    </div>
                {% elif field.name != 'notes' %}
                    <div class="row">
                        <div class="col-md-4">{{field.verbose_name|capfirst}}</div>
                        {% with field_value=assessment|getattrib:field.name %}
                        <div class="col-md-4">{{field_value|floatformat:2}}</div>
                        {% endwith %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>