{% load template_getattr %}

<div class="row">
    <div class="col-md-4"><h3>{{type}} Skills</h3></div>
    <div class="dropdown col-md-4" style="padding-top:10px">
        <ul class="nav nav-pills" aria-labelledby="{{pre}}DropDown">
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown">Dates<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for assessment in summary.data %}
                    <li><a href="#summary-{{assessment.id}}" data-toggle="tab">{{assessment.Updated}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    {% for assessment in summary.data %}
        {% if forloop.first %}
        <div id="summary-{{assessment.id}}" class="tab-pane fade in active">
        {% else %}
        <div id="summary-{{assessment.id}}" class="tab-pane fade">
        {% endif %}
        <h5>{{assessment.Updated}}</h5>
        {% for field in summary.fields %}
            {% if field != 'Updated' and field != 'Note'%}
                <div class="row">
                    {% if field == 'Total' %}<b>{% endif %}
                    <div class="col-md-4">{{field|capfirst}}</h5></div>
                    {% if assessment|getattrib:field < 0 and assessment|getattrib:field <= -50 or assessment|getattrib:field > 0 and assessment|getattrib:field < 50 %}
                    <div class="col-md-4" style="color: red">{{assessment|getattrib:field|floatformat:2}}</div>
                    {% elif assessment|getattrib:field == '--' %}
                    <div class="col-md-4">{{assessment|getattrib:field}}</div>
                    {% else %}
                    <div class="col-md-4">{{assessment|getattrib:field|floatformat:2}}</div>
                    {% endif %}
                    {% if field == 'Total' %}</b>{% endif %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
</div>