<!DOCTYPE html>
{% load template_getattr %}
{% load crispy_forms_tags %}
<html>
    <head>
        {% include 'musictherapy/component/header.html' %}
    </head>

    <body>
        <div class="row" style="margin-left: 2%; margin-right: 2%">
            <div class="col-md-8">
                {% if userinfo and session %}
                <h1>{{userinfo.name}} - Session: {{session.date.date}}</h1>
                {% else %}
                <h1>New Client</h1>
                {% endif %}
            </div>
            <div class="col-md-4">
                <a class="btn btn-info pull-right" href="{% url 'musictherapy:logout' %}" style="margin:5px">Logout</a>
                <a class="btn btn-info pull-right" href="{% url 'musictherapy:list' %}" style="margin:5px">Home</a>
                {% if userinfo %}
                <a class="btn btn-info pull-right" href="{% url 'musictherapy:export_assessment' userinfo.id %}"  style="margin:5px">Export Assessment</a>
                    {% if session %}
                    <a class="btn btn-info pull-right" href="{% url 'musictherapy:export_treatment' userinfo.id session.id %}"  style="margin:5px">Export Objectives</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="page-wrapper">
            <ul class ="nav nav-tabs" id="tabs">
                <li {% if tab == "info" %} class="active" {% endif %}><a data-toggle="tab" data-target="#basicinfo">Basic Information</a></li>
                {% if musical_pref_form %}
                <li {% if tab == "musicpref" %} class="active" {% endif %}><a data-toggle="tab" data-target="#musicpref">Musical Preference</a></li>
                {% endif %}
                {% if sessions %}
                <li {% if tab == "sessions" %} class="active" {% endif %}><a data-toggle="tab" data-target="#pastsessions">Past Sessions</a></li>
                {% endif %}
                {% if goals or session_goals %}
                <li {% if tab == "goals" %} class="active" {% endif %}><a data-toggle="tab" data-target="#sessiongoals">Treatment Plan</a></li>
                {% endif %}
                {% if data %}
                    <li {% if tab == "summary" %} class="active" {% endif %}><a data-toggle="tab" data-target="#summary">Summary</a></li>
                    {% for domain, domain_data in data.items %}
                        <li {% if tab == domain %} class="active" {%endif%}><a data-toggle="tab" data-target="#{{domain}}">{{domain_data.domain|capfirst}} Skills</a></li>
                    {% endfor %}
                {% endif %}
            </ul>

            <div class="tab-content forms-wrapper">
                <div id="sessiongoals" class="tab-pane fade {% if tab == "goals" %} in active {% endif %}">
                    {% if goals %}
                    <div class="col-lg-4">
                        {% include "musictherapy/component/goals.html" with goals=goals user=userinfo redirect="goals" %}
                    </div>
                    <div class="col-lg-8">
                        {% include "musictherapy/component/session_goals.html" with data=data user=userinfo redirect="goals" %}
                    </div>
                    {% endif %}
                </div>

                <div id ="musicpref" class="tab-pane fade {% if tab == "musicpref" %} in active {% endif %}">
                    {% if musical_pref_form %}
                        {% crispy musical_pref_form %}

                        {% if musical_pref %}
                        <br>
                        <h4>Last updated {{ musical_pref.updated }}</h4>
                        {% endif %}
                    {% endif %}
                </div>

                <div id="basicinfo" class="tab-pane fade {% if tab == "info" %} in active {% endif %}">
                    {% include 'musictherapy/component/user_info.html' with user=userinfo user_info_form=user_info_form program_form=program_form user_last_updated=user_last_updated %}
                </div>

                <div id="pastsessions" class="tab-pane fade {% if tab == "sessions" %} in active {% endif %}">
                    {% include 'musictherapy/component/session_list.html' with sessions=sessions userinfo=userinfo %}
                </div>

                <div id="summary" class="tab-pane fade {% if tab == "summary" %} in active {% endif %}">
                    {% include 'musictherapy/component/summary.html' with data=data %}
                </div>

                {% for domain, domain_data in data.items %}
                <div id="{{domain}}" class="tab-pane fade {% if tab == domain %} in active {% endif %}">
                    {% include "musictherapy/component/skill.html" with type=domain_data.domain pre=domain data=domain_data user=userinfo %}
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
