<table id="user-table" class="sort">
    <thead>
        <tr>
            <th class="sort-header">Name</th>
            <th class="sort-header">Location</th>
            <th class="sort-header">Program</th>
            {% if perms.musictherapy.delete_userinfo %}
            <th class="no-sort">Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
                <td><a href="{% url 'musictherapy:user_detail' user.id %}"> {{user.name}}</a></td>
                <td>{{user.location|join:", "}}</td>
                {% if user.program %}
                    <td>
                        {% for program in user.program.all|dictsort:"location" %}
                            <a href="{% url 'musictherapy:program_detail' program.id %}">{{program}}</a><br>
                        {% endfor %}
                    </td>
                {% else %}
                <td> - </td>
                {% endif %}
                <td>
                    {% if user.active %}
                    <a href="{% url 'musictherapy:archive_user' user.id %}?redirect={{redirect}}" class="btn btn-info">Archive</a>
                    {% else %}
                    <a href="{% url 'musictherapy:unarchive_user' user.id %}?redirect={{redirect}}" class="btn btn-info">Unarchive</a>
                    {% endif %}
                    <a href="{% url 'musictherapy:export_assessment' user.id %}?redirect={{redirect}}" class="btn btn-info">Export</a>
                    {% if perms.musictherapy.delete_userinfo %}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal-{{user.id}}">Delete</button>
                    {% endif %}
                </td>
            </tr>
            <div class="modal fade" id="delete-modal-{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="delete-modal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delete-modal">Delete All Data for {{user.name}}</h4>
                  </div>
                  <div class="modal-body">
                      <h3>You are about to delete all the data for {{user.name}}.  This is a permanent action and can not be undone.
                      Be sure to export the data first or archive the user for now.</h3>
                      <h3>Are you sure you want to continue?</h3>
                  </div>
                  <div class="modal-footer">
                      <a href="{% url 'musictherapy:delete_user' user.id %}" class="btn btn-danger">Delete Data</a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    </tbody>
</table>

<script>
    new Tablesort(document.getElementById('user-table'));
</script>
