{% extends "easy_pdf/base.html" %}
{% load template_getattr %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 2.5cm;
            margin-right: 2.5cm;
            margin-top: 3cm;
            margin-bottom: 2cm;

            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1.2cm;
                margin-right: 1.2cm;
                margin-bottom: 1.2cm;
                margin-left: 1.2cm;
            }
        }
    </style>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        .tab {
            margin: 0 0 0 40px;
        }

        .right-space {
            margin: 0 10px 0 0;
        }

        .signature-border {
            border-top: solid;
            border-color: black;
            padding-top: 0.5cm;
        }

        .right {
            text-align: right;
        }

        #signature {
            margin-top: 1cm;
        }
    </style>
{% endblock %}

{% block page_header %}
<div id="page-header">
    <div class="header">
        <div class="tab">
            <b>Name: {{userinfo.name}}</b><br/>
            <b>Programs:
            {% for program in programs %}
                {{program}};
            {% endfor %}
            </b>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
    <div id="content">
        <div class="main">
            <h1 style="text-align:center">Alzhemier Society Peel's Music Therapy Assessment</h1>

            <div id="life-experiences">
                <h2>Life Experiences/History</h2>
                Name: {{userinfo.name}}<br>
                Date of Birth: {{userinfo.date_of_birth}}<br>
                Locations: {{userinfo.location|join:", "}}<br>
                Country of Origin: {{userinfo.country_of_origin}}<br>
                Language Spoken: {{userinfo.language_spoken}}<br>
                Care Plan: {{userinfo.care_plan}}<br>
                ASP Level: {{userinfo.asp_level}}<br>
                Diagnosis: {{userinfo.diagnosis}}<br>
                History: {{userinfo.history}}<br>
                Musical History: {{userinfo.musical_history}}<br>
            </div>

            <div id="music-preferences">
                <h2>Music Preferences</h2>
                    Favourite Composer: {{musical_preferences.fav_composer}}<br>
                    Favourite Song: {{musical_preferences.fav_song}}<br>
                    Favourite Instrument: {{musical_preferences.favourite_instrument}}<br>
                    Preferred Styles:
                    <div class="tab">
                        {%if musical_preferences.preferred_style%}{{musical_preferences.preferred_style|join:", "}}<br>{% endif %}
                        Other Styles: {{musical_preferences.other_style}}<br>
                        Ethnic Music: {{musical_preferences.ethnic}}<br>
                        Sacred Music: {{musical_preferences.sacred_music}}<br>
                    </div>
            </div>


            <div id="summaries">
                <h2>Domain Measurable Summaries</h2>
                {%for domain, domain_data in summary.items%}
                    {% if domain_data %}
                        <h3>{{domain}}</h3>
                        <table>
                            <thead>
                                <th></th>
                                {% for assessment in domain_data.data %}
                                <th>{{assessment.Updated}}</th>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for field in domain_data.fields %}
                                <tr>
                                    <th style="text-align: left">{{field}}</th>
                                    {% for assessment in domain_data.data %}
                                        {% if assessment|getattrib:field == '--' or field == 'Updated'%}
                                        <td style="text-align: center">{{assessment|getattrib:field}}</td>
                                        {% else %}
                                        <td style="text-align: center">{{assessment|getattrib:field|floatformat:2}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            </div>

            <div id="measurables">
                {% for domain, domain_data in domain_measurables.items %}
                    {% if domain_data.goals_measurables or domain_data.measurables %}
                    <div id="{{domain}}">
                        <h1 class="header-margin">{{domain}} Measurables - {{domain_data.measurables.date}}</h1>
                        {% if domain_data.measurables %}
                            <div id="{{domain}}_measurables">
                                {% for subdomain, measurables in domain_data.measurables.items %}
                                    {% if subdomain != "Notes" and subdomain != "date" %}
                                        <h3>{{subdomain.name}}</h3>
                                        <div class="tab">
                                            {% for measurable in measurables %}
                                                {# if measurable.value != -1 #}
                                                {% if measurable.measurable.name %}
                                                    <b>{{measurable.measurable.name}}</b>: {{measurable.get_value_display}}<br>
                                                {% endif %}
                                                {# endif #}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% if domain_data.measurables.notes %}
                                    <b>Notes</b>:
                                    {% for note in domain_data.measurables.notes %}
                                        {{note.note}}<br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <!--
                        {% if domain_data.goals_measurables %}
                            <h2>{{domain}} Goal Measurables</h2>
                                <div id="{{domain}}_goal_measurables" class="tab">
                                {% if domain_data.goals_measurables.data %}
                                    {% for goal, value in domain_data.goals_measurables.data.items %}
                                        <b>{{goal}}</b>: {{value.get_value_display}}<br>
                                    {% endfor %}
                                {% endif %}

                                {% if domain_data.goals_measurables.notes %}
                                    <b>Notes</b>:
                                    {% for note in domain_data.goals_measurables.notes %}
                                        {{note.note}}
                                    {% endfor %}
                                {% endif %}
                                </div>
                        {% endif %}
                        -->
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div id="signature">
                <h3 class="signature-border">Music Therapist Signature:</h3>
                <p class="right">Date: {{ date }}</p>
            </div>
        </div>
    </div>
{% endblock %}}